.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main:not(.admin-main):not(.login-page):not(.about-page):not(.tracking-page) {
  margin-top: 70px;
}

.about-page,
.tracking-page {
  margin-top: 0;
}

